.header, .hero,.body ,.bar,.footer{
	background-color: lightpink;
	
}
.box{
	margin-bottom: 10px;
	min-height: 100px;
	background-color: red;
	font-size: 30px;
	color: white;
}
.mb{
	margin-bottom: 10px;
}
.border{
	border: 3px solid yellow;
}
.green{
	background-color: green;
}
.purple{
	background-color: purple;
}
.sky{
	background-color: skyblue;
}
.height{
	min-height: 200px;
	background-color: green;
}